.App {
  text-align: center;
}

.contact-img {
  width: 5vw !important;
}

.modal-img {
  width: 25vw !important;
}

.gray {
  filter: grayscale(100%);
}

.saturate {
  filter: saturate(50%);
}

.blur {
  filter: blur(5px);
}

.active-filter {
  background-color: black !important;
  color: white !important;
}